<div class="margin">
  <h1></h1>
</div>

<section class="parallax">
  <div class="parallax-inner"></div>
</section>

<br>
<br>
<br>

<hr>

<div class="margin">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1><strong>Contact Us</strong></h1>
</div>

<section class="contact">
  <div class="content">
    <h4>We host events and parties in Manhatten, Brooklyn, and Queens. Contact us below for any information on future Surreal Sound events or if you have any questions or concerns</h4>
  </div>
  
  <div class="container-contact">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div class="text">
            <h2>Address</h2>
            <h4>"random address, pretend like you see one"</h4>
        </div>
      </div>
    </div>
  </div>
      <div class="box">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="text">
            <h2>Phone</h2>
            <h4>"random phone number, pretend like you see one"</h4>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="text">
            <h2>Email</h2>
            <h4>"random email, pretend like you see one"</h4>
        </div>
      </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>
<hr>
<br>
<br>
<br>
