<div class="margin">
  <h1></h1>
</div>

<section class="parallax">
  <div class="parallax-inner"></div>
</section>

<br>
<br>
<br>
<hr>
<div class="margin">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1><strong>"Music Gives Life To Everything"</strong></h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
</div>

<section class="parallax-2">
  <div class="parallax-inner-2"></div>
</section>
<hr>
  
<div class="margin">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Surreal Sound is the the embodyment of what a musical experience and a night of fun should be</h1>
  <br>
  <h1>We strive for the enjoyment of others in an environment where everyone can have fun and let loose</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
</div>

<section class="parallax-3">
  <div class="parallax-inner-3"></div>
</section>
<hr>

<div class="margin">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>About Us</h1>
  <br>
  <h3>Surreal Sound is an event/party company that caters to people who want to enjoy a night of drinks and good company with their friends. Our goal is to create an energizing environment wherever and whenever the night is young. The outcast, the jock, the nerd, whatever it is, it's our job to make sure everyone is having a good time. In our opinion, parties and events are two different things. Parties are less structured and tend to be more intimate, similar to a get-together with friends. Events, such as a corporate dinner party, are social gatherings that can appear overly formal at times. Surreal Sound believes that the two notions should be combined. Through the conjoined efforts and feelings you get in both events and parties, there is a threshold between the two, where we see ourselves in. The music and the experience.</h3>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <br>
</div>



